html body {
    margin: 10px;
    background-color: #1E3343;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    color: #FFD8EC; 
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 504px;
    height: 504px;
    border: 0.77px solid #FFD8EC;
    margin: 0 auto;
    background-color: #1E3343;
}

.grid div {
    width: 18px;
    height: 18px;
}

.pac-dot {
    background-color: mediumaquamarine;
    border: 5px solid #1E3343;
    box-sizing: border-box;
    border-radius: 8px;
}

.wall {
    background-color: #5e7282;
}

.power-pellet {
    background-color: #FFF7D6;
    border-radius: 8px;
}

.pacman {
    background-color: #fcff68;
    box-sizing: border-box;
    border: 0.33px dotted white;
    border-radius: 9px;
}

.blinky {
    background-color: #c39dea;
    border: none;
}

.pinky {
    background-color: #F784EB;
    border: none;
} 

.inky {
    background-color: #01EBF2;
    border: none;
}

.clyde {
    background-color: #4BED75;
    border: none
}

.scared-ghost {
    background-color: #470D7C;
    border: none
}

.ghost {
    border-radius: 8px 8px 0 0;
}